<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.simplemobiletools.musicplayer"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_launcher_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WidgetConfigureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyWidgetConfigTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity"/>

        <activity
            android:name=".activities.LicenseActivity"
            android:label="@string/third_party_licences"
            android:parentActivityName=".activities.AboutActivity"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity"/>

        <service
            android:name=".MusicService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.simplemobiletools.musicplayer.action.INIT"/>
                <action android:name="com.simplemobiletools.musicplayer.action.FINISH"/>
                <action android:name="com.simplemobiletools.musicplayer.action.PREVIOUS"/>
                <action android:name="com.simplemobiletools.musicplayer.action.PAUSE"/>
                <action android:name="com.simplemobiletools.musicplayer.action.PLAYPAUSE"/>
                <action android:name="com.simplemobiletools.musicplayer.action.NEXT"/>
                <action android:name="com.simplemobiletools.musicplayer.action.EDIT"/>
                <action android:name="com.simplemobiletools.musicplayer.action.PLAYPOS"/>
                <action android:name="com.simplemobiletools.musicplayer.action.REFRESH_LIST"/>
                <action android:name="com.simplemobiletools.musicplayer.action.INCOMING_CALL_START"/>
                <action android:name="com.simplemobiletools.musicplayer.action.INCOMING_CALL_STOP"/>
                <action android:name="com.simplemobiletools.musicplayer.action.SET_PROGRESS"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".MyWidgetProvider"
            android:icon="@mipmap/widget_preview">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <receiver
            android:name=".receivers.HeadsetPlugReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_HEADSET_PLUG"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.RemoteControlReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.ControlActionsListener"/>
    </application>
</manifest>
